body{
    margin: 0;
}
.flex-header{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    border-bottom: solid black 1px;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}