.card-sizing{
    max-width: 25%;
    padding: calc(var(--bs-gutter-x) * .2)
}

.image-box{
    aspect-ratio: 16/9;
}
.hover-text-card{
    display: none;
}
.card>a:hover>.hover-text-card{
    display: block;
    background-color: rgba(4,4,19,0.7);
}
.pagination-ul{
    margin-top: .5rem;
    margin-bottom:.5rem;
}
@media (max-width: 767px){
    .card-sizing{
        max-width: 50%;
    }
    .pagination-sm{
        --bs-pagination-padding-x: 0.35rem;
        --bs-pagination-padding-y: 0.25rem;
        flex-wrap: wrap;
    }
}