.toolbar{
    background: #00ADB5;
}
body{
    background: #EEEEEE;
}
*{
    box-sizing: border-box;
}
.block .inner-block{
    aspect-ratio: 16/9;
}
.block{
    flex: 25%;
    max-width: 25%;
    margin: 25px 0 0 0;
    border-radius: 25px;
    aspect-ratio: 16/9;
    text-align: center;
}
.inner-block{
    position: relative;
}
img{
    width: auto;
    height: 100%;
}
.nav-item{}